.navbar {
    list-style: none;
}

.navbar a {
    background: linear-gradient(currentColor 0 0) bottom left/
    var(--underline-width, 0%) 0.1em no-repeat;
    color: #ffffff;
    display: inline-block;
    padding: 0 .5em 0.2em;
    text-decoration: none;
    transition: background-size 0.5s;
}

#active {
    --underline-width: 100%;
}

.navbar a:hover {
    --underline-width: 100%;
}

.signIn a {
    border: 1px solid #fff;
    padding: 15px 30px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border-radius: 15px 0 15px 0;
}

.signIn a:hover {
    background: rgb(255, 255, 255);
    color: var(--background-blue) !important;
}

.name h1 {
    font-size: 2em !important;
    font-weight: bold;
}

.title {
    margin-top: 130px;
}

header {
    color: var(--text-white);
    background-repeat: round;
    background-image: url('../../img/backHeader.png');
}
#signIn{
    color: var(--background-blue) !important;
}
@media screen and (max-width: 576px){
    .title {
        margin: 50px 0;
    }
    header {
        background-color: var(--background-blue);
    }
}