:root {
    --background-blue: #a2d1fa;
    --background-blue-light: #f1f9fe;
    --background-gray: #9a9a9a;
    --background-gray-dark: #696969;
    --text-blue: #89b5fd;
    --text-white: #fff;
    --text-black: #000000;
    --text-ocean: #a1d2ff;
    --btn-red: #fc6060;
    --btn-red-light: #ff8b8b;
    --btn-blue: #2b9afa;

}

a {
    color: var(--text-white);
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

.btnRed {
    background-color: var(--btn-red);
    border-radius: .25rem;
    color: var(--text-white);
    transition: all ease-in-out .3s;
}

.btnRed:hover {
    color: var(--text-white);
    background-color: #ea5151;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
